---
- name: Deploy K8S-Auth
  hosts: develop
  become: no
  remote_user: collab-user

  tasks:
    - name: Apply Kubernetes Manifests
      kubernetes.core.k8s:
        state: present
        definition: "{{ lookup('file', item) }}"
      loop:
        - "../../../collab-k8s-infra/apps/auth.yaml"
