name: Build and Deploy (K8s)

on:
  pull_request:
    branches:
      - main

env:
  REGISTRY: ghcr.io
  # Имя образа в нижнем регистре
  IMAGE_NAME: ${{ github.repository }} 

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Lowercase image name
        run: |
          echo "IMAGE_NAME_LOWER=$(echo ${{ github.repository }} | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Extract metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME_LOWER }}
          tags: |
            type=raw,value=latest

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ghcr.io/kursul-community/collab-go-auth:latest
            ghcr.io/kursul-community/collab-go-auth:${{ github.sha }}
          labels: ${{ steps.meta.outputs.labels }}
          # Кэширование для ускорения сборки
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Restart Kubernetes Deployment
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: 45.132.177.32
          username: collab-user
          key: ${{ secrets.DEV_SSH_PRIVATE_KEY }}
          script: |
            helm upgrade --install auth-service "$HOME/collab-k8s-infra-temp/charts/apps/auth-service" -n collab --atomic --timeout 900s --set image.tag=latest
